.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
    scroll-behavior: smooth;
}

body{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:flex-start;
}
.flex-links {
    padding: 15px;
    margin-left: auto;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index:9999999;
    border-bottom: solid;
    box-shadow:0 4px 4px black;
}

.flex-name {
    padding:15px;
    margin-right:auto;
}

.portfolio {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-header {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 13rem;
    z-index: 9999;
}
